body{
background-color: rgb(230, 222, 222);
margin: 0;
}

/* header{
background-color: rgb(10, 10, 10);
padding-top: 1%;

} */

h1{
text-align: center;
font-size: 30px;


}

.premier{
    box-shadow: 1 solid rgb(20, 20, 20);
border-radius: 5%;
background-color: white;
text-align: center;
margin-left: 5%;
margin-right: 5%;
padding-bottom: 15%;
}

.lien{
   text-align: center;
   
}

footer{
    background-color: black;
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 40%;
}
.logo{
    font-size: 20px;
    color: white;
}
.lien{

}


/* mon menu burger  */
